* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #333;
  font-size: 62.5%;
}

.container {
  text-align: center;
}

.item {
  background-color: rgb(146, 140, 140);
  display: inline-block;
}

h4 {
  font-size: 3rem;
  color: gold;
  font-style: italic;
  text-transform: uppercase;
}

p {
  font-size: 1.7rem;
}

.img {
  width: auto;
  height: 250px;
}

.btn {
  font-style: italic;
  margin: 5px;
  background-color: black;
  color: antiquewhite;
  font-size: 2rem;
  padding: 3px 6px;
  border: 1px solid antiquewhite;
}

.btn:hover {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  transition: 0.3s;
}
